body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAV CSS */

.navbar {
    background-color: #FEFAE0;
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
}

#logo {
    width: 120px;
    height: 50px;
    padding-top: 4px;
    padding-left: 7px;
}

.navlist {
    float: right;
}

.navlistitem {
    display: inline-block;
    padding-right: 7px;
    margin-top: 3px;
}

.navatag {
    text-decoration: none;
    color: #606c38;
    background-color: #dda15e;
    padding: 6px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 1px black;
}

.navatag:hover  {
    box-shadow: inset .5px .5px 3px 1px black;
    font-size: 17px;
    transition: 300000s;
}

 /*Main CSS*/

main {
    overflow: auto;
    background: rgb(96,108,56);
    background: linear-gradient(90deg, rgba(96,108,56,1) 0%, rgba(221,161,94,1) 50%, rgba(254,250,224,1) 100%);
 }
.headtitle {
    text-align: center;
    font-size: 60px;
    padding-top: 15px;
    color: #283618;
 }
article {
    height: 650px;
    width: 33%;
    float: left;
    text-align: center;
    color: #283618;
    
 }

.name {
    font-size: 30px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
 }

.bike {
    padding: 0;
    margin-top: 0;
    font-size: 15px;
 }

.bikepic {
    width: 350px;
    height: 500px;
    border: 3px solid #283618;
    box-shadow: 5px 5px 25px 5px black;
 }

.video {
    text-align: center;
    padding-top: 0;
    color: #283618;
 }

#sponsors {
    text-align: center;
    font-size: 35px;
    text-decoration: overline;
    color: #283618;
 }

.logobox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
 }

.clawsonlogo {
    padding-bottom: 10px;
    height: 80px;
    margin: auto;
 }

.kawalogo {
    padding-bottom: 10px;
    height: 80px;
    margin: auto;
 }

.alpinelogo {
    padding-bottom: 10px;
    height: 80px;
    margin: auto;
 }

 /* Footer CSS */

footer {
    height: 60px;
    background-color: #FEFAE0;
}
footer {
    font-size: 30px;
}

.fa {
    text-decoration: none;
    color: #283618;
    padding-left: 15px;
    padding-top: 12px;
    float: right;
}

.fa-facebook {
    padding-right: 30px;
}

.copyright {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 10px;
    padding-top: 40px;
    color: #283618;
}

