body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAV CSS */

.navbar {
    background-color: #FEFAE0;
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
}

#logo {
    width: 120px;
    height: 50px;
    padding-top: 4px;
    padding-left: 7px;
}

.navlist {
    float: right;
    /* position: relative; */
}

.navlistitem {
    display: inline-block;
    padding-right: 7px;
    margin-top: 3px;
}

.navatag {
    text-decoration: none;
    color: #606c38;
    background-color: #dda15e;
    padding: 6px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 1px black;
}

.navatag:hover  {
    /* color: #fefae0; */
    box-shadow: inset .5px .5px 3px 1px black;
    font-size: 17px;
    transition: 300000s;
}

/* Main CSS */




 /* Footer CSS */

footer {
    height: 60px;
    background-color: #FEFAE0;
}
footer {
    font-size: 30px;
}

.fa {
    text-decoration: none;
    color: #283618;
    padding-left: 15px;
    /* float: right; */
    padding-top: 12px;
    float: right;
}

.fa-facebook {
    padding-right: 30px;
}

.copyright {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 10px;
    padding-top: 40px;
    color: #283618;
}