body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAV CSS */

.navbar {
    background-color: #FEFAE0;
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
}

#logo {
    width: 120px;
    height: 50px;
    padding-top: 4px;
    padding-left: 7px;
}

.navlist {
    float: right;
    /* position: relative; */
}

.navlistitem {
    display: inline-block;
    padding-right: 7px;
    margin-top: 3px;
}

.navatag {
    text-decoration: none;
    color: #606c38;
    background-color: #dda15e;
    padding: 6px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 1px black;
}

.navatag:hover  {
    /* color: #fefae0; */
    box-shadow: inset .5px .5px 3px 1px black;
    font-size: 17px;
    transition: 300000s;
}


 /* Main CSS */


.topsection {
    height: 320px;
    background-image: url(../images/bikesoverlook.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: abosolue;
    background-position: center center;
}

.bottomsection {
    height: 825px;
    color: #283618;
    background: rgb(96,108,56);
    background: linear-gradient(90deg, rgba(96,108,56,1) 0%, rgba(221,161,94,1) 50%, rgba(254,250,224,1) 100%);
    position: relative;
}

.maintitle {
    margin: 0;
    text-align: center;
    padding-top: 35px;
    font-size: 50px;
    color: rgba(254, 250, 224, 0.7);
    text-shadow: 2px 2px 5px black;
}

article {
    float: left;
    box-sizing: border-box;
    height: 825px;
    padding: 5px;
}

.leftart, .middleart, .rightart {
    width: 33.333333%;
}

.arth1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}

.ridedes {
    margin: 0px 10px;
    color: #283618;
    font-weight: 900;
}

.dir {
    padding-right: 10px;
    color: #283618;
}

.map {
    text-align: center;
}

/* Footer CSS */

footer {
    height: 60px;
    background-color: #FEFAE0;
    position: relative;
    bottom: 0;
}